
.contact .titlepage {
    text-align: left;
    padding-top: 20px;
}
.contact .titlepage h2 {color: green; font-weight: bold;}
.contact {
    padding: 90px 0px;
    font-family: Poppins;
    padding-top: 252px;
}

.main_form {
   padding-top: 137px;
}

.contact .main_form .contactus {
    border: #8c8c8b solid 1px;
    padding: 0px 1px;
    margin-bottom: 20px;
    width: 100%;
    height: 42px;
    background: transparent;
    color: #8c8c8b;
    font-size: 16px;
    border-top: inherit;
    border-right: inherit;
    border-left: inherit;
}

.contact .main_form .textarea {
    margin-bottom: 25px;
    color: #8c8c8b !important;
    width: 100%;
    border: #8c8c8b solid 1px;
    padding: 0px 1px;
    padding-top: 38px;
    background: transparent;
    border-top: inherit;
    border-right: inherit;
    border-left: inherit;
}

.contact .main_form .send {
    font-size: 16px;
    transition: ease-in all 0.5s;
    background-color: #000;
    color: #fff;
    padding: 12px 70px;
    margin: 0 auto;
    display: block;
}

.contact .main_form .send:hover {
    background-color: #f9f016;
    transition: ease-in all 0.5s;
    color: green;
}

#contact *::placeholder {
    color: #8c8c8b;
    opacity: 1;
}

.current {
    color: green;
    margin-top: -4px;
    position: absolute;
}

.white {
    color: #f9f016;
}

.cont {
    text-align: left;
}

.cont span {
    color: green;
    font-size: 50px;
    line-height: 70px;
    padding: 70px 0px 65px 0px;
    display: inline-block;
    font-weight: 500;
}

.cont a {
    font-size: 20px;
    transition: ease-in all 0.5s;
    background-color: green;
    color: #f9f016;
    width: 100%;
    max-width: 275px;
    padding: 7px 0px;
    text-align: center;
    display: inline-block;
}

.cont a:hover {
    background-color: #f9f016;
    transition: ease-in all 0.5s;
    color: yellow;
}


/** end contact section **/



.features {
    margin-top: -70px;
  }
  
  .feature-item {
    flex-basis: 33.33%;
    margin: 0px 10px;
    padding: 40px 30px;
    background-color: #fff;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 30px 0px rgba(0, 42, 106, 0.1);
  }
  
  .feature-item .feature-icon i {
    font-size: 50px;
    color: #11a054;
  }
  
  .feature-item h4 {
    color: #11a054;
  }
  
  .feature-item p {
    font-size: 14px;
  }
  
  .feature-section.border-top {
    border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
  }
  
  .w-hours li {
    padding: 6px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .btn-main {
    background: #11a054;
    color: #fff;
    border-color: #11a054;
  }
  
  .btn-main:hover {
    background: #000;
    border-color: #000;
    color: #fff;
  }
  
  .btn-main-2 {
    background: #000;
    color: #fff;
    border-color: #000;
  }
  
  .btn-main-2:hover {
    background: #000;
    color: #fff;
    border-color: #000;
  }

  /* Links */
a {
    color: #000;
    text-decoration: none;
    transition: all .35s ease;
  }
  
  a:focus, a:hover {
    color: #000;
    text-decoration: none;
  }
  
  a:focus {
    outline: none;
  }

  .lh-35 {
    line-height: 35px;
  }
  
  .logo {
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .logo h3 {
    color: #f9f016;
  }
  
  .logo span {
    color: #f9f016;
  }
  
  .widget .divider {
    height: 3px;
  }
  
  .widget h4 {
    color: #f9f016;
  }
  
  .widget .footer-menu a {
    color: #f9f016;
  }
  
  .widget .footer-menu a:hover {
    color: #1f5f35;
  }
  
  .footer-contact-block span {
    font-weight: 400;
    color: #f9f016;
  }
  
  .footer-contact-block i {
    font-size: 20px;
  }
  
  .footer-btm {
    border-top: 1px solid rgba(0, 0, 0, 0.06);
  }
  
  .footer-socials li a {
    width: 45px;
    height: 45px;
    background:#f9f016;
    color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    padding-top: 12px;
  }

  h6, .h6 {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    color: #fff;
  }

  h6, .h6 {
    font-size: 1rem;
  }
  
  p {
    line-height: 30px;
    color: #fff;
  }
  